#loginPage {
   background-color : #e9eaed;
}

#loginPage #loginButton {
    width: 100%;
}

#loginPage .loginBox {
    max-width:  90%;
    width: 500px
}

#loginPage .stretch input  {
    width: 100%
}

#loginPage .submit-btn {
    padding-top: 20px;
}