<div ng-controller="loginCtrl"  layout="column" layout-align="center center" layout-fill="layout-fill" id="loginPage">
  <div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Pluttbook</span></h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <md-input-container>
        <label>EmailAddress</label>
        <input type="email" ng-model="email"/>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="password"/>
      </md-input-container>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" id="loginButton">Login</md-button>
      </div>
      <div layout="row" layout-align="center center">
        <md-button ng-click="login()" href="/#/create-account" md-no-ink="md-no-ink">Create Account</md-button>
        <div flex="flex"></div>
        <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
      </div>
    </md-content>
  </div>
</div>