#chat {
    background-color : rgb(245,245,245);
    width: 100%;
}

#chat .available-users-header {
    margin: 0px;
    padding-left: 16px;
    background-color: #3F51B5;
}

#chat .chat-header-text {
    color: white;
}

#chat .list-text {
    padding-left: 16px;
}

#chat .list-separator {
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,.12);
}

#chat .md-list-item-text {
    width: 100%;
}

#chat md-list {
    padding: 0px;
    height: 100vh;
}

#chat .no-click-list {
    pointer-events: none;
    background-color: #D7D4D4;
}

#chat .message-icon {
    padding: 13px 10px 0px 0px;
}