<div ng-controller="availableUsersCtrl as vm" class="md-whiteframe-1dp" id="chat">
    <header class="available-users-header" layout="row">
        <p class="chat-header-text">Available Friends</p>
    </header>
    <md-content layout="column" ng-class="vm.getNumberWindowsOpen() > 0 ? 'no-click-list':''">
        <md-list>
            <md-list-item class="md-1-line" layout="column" ng-repeat="friend in vm.availableFriends | orderBy: 'friend.firstName': true">
                <div class="md-list-item-text" ng-click="vm.addChatWindow(friend)" layout="row">
                    <p class="list-text">{{friend.firstName + ' ' + friend.lastName}}</p>
                    <span flex></span>
                    <i class="icon s24 material-icons md-default-theme message-icon" ng-if="friend.newMessages">message</i>
                </div>
                <div class="list-separator"></div>
            </md-list-item>
        </md-list>
    </md-content>
</div>