#view {
    height: 100%;
}

html {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.4;
    letter-spacing: -0.1px;
}
#createAccountsPage {
    background-color : #e9eaed;
}

#createAccountsPage #loginButton {
    width: 100%;
}

#createAccountsPage .loginBox {
    max-width:  90%;
    width: 500px
}

#createAccountsPage .stretch input  {
    width: 100%
}

#createAccountsPage .submit-btn {
    padding-top: 20px;
}

#createAccountsPage #lastName {
    float: right;
}
#loginPage {
   background-color : #e9eaed;
}

#loginPage #loginButton {
    width: 100%;
}

#loginPage .loginBox {
    max-width:  90%;
    width: 500px
}

#loginPage .stretch input  {
    width: 100%
}

#loginPage .submit-btn {
    padding-top: 20px;
}
#newsFeed {
    background-color : rgb(245,245,245);
}

#newsFeed .header {
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 1;
 }

#newsFeed .newsFeed {
    padding-top: 64px;
    overflow: hidden;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-left: 25%;
    margin-right: 25%;
}

#newsFeed .chat {
    position: fixed;
    right: 0;
    top: 64px;
    width: 225px;
}

* {
    box-sizing: border-box;
}
#profile {
    background-color : rgb(245,245,245);
    padding-top: 64px;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#profile .profile-news {
    overflow: hidden;
    padding:8px;
    margin-left: 5%;
    margin-right: 10%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

#profile .background {
    height: 320px;
    background-size: auto;
    position: relative;
}

#profile .background-image {
    width: 100%;
    height: 100%;
}

#profile .user-info {
    margin-left: 5%;
    position: absolute;
    bottom: 24px;
}

#profile .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background-color : white;
}

#profile .avatar.huge {
    width: 96px;
    min-width: 96px;
    height: 96px;
    line-height: 96px;
}


#profile .name {
    padding-left: 16px;
    padding-top: 30px;
    font-size: 34px;
    color: #FFF;
}

#profile .add-friend-button {
    background-color: #3F51B5;
    color: #FFFFFF;
}

#profile .connect-column {
    float: right;
    padding-right: 150px;
}

#profile .connect {
    position: absolute;
    bottom: 24px;
}

#profile .edit-profile-button {
    position: absolute;
    bottom: 24px;
    background-color: rgb(245,245,245);
}

#profile .edit-profile-icon {
    padding-right: 3px;
}

#profile md-tabs-canvas {
    margin-left: 5%;
    margin-right: 35%;
}

#profile .timeline {
    background-color: rgb(245,245,245);
}

#profile md-ink-bar {
    background-color: #3F51B5;
}

#profile .friends-list {
    width: 60%;
    padding-right: 30px;
    padding-top: 40px;
}
#createStatus {
    margin-top: 32px;
    margin-bottom: 32px;
}
#createStatus .profile-box {
    margin-bottom: 0px;
    width: 100%;
}

#createStatus textarea {
    font-size: 13px;
    width: 100%;
    height: 140px;
    border: none;
    padding: 16px;
    resize: vertical;
}

#createStatus #post-button {
    background-color: #3F51B5;
    color: #FFFFFF;
}

#createStatus footer {
    background-color: #FFFFFF;
    border-top: 1px solid;
    border-top-color: #e9eaed;
}

.news-feed-button-text-right {
    padding-left: 0px;
    font-size: 11px;
    font-weight: 400;
}
#feedContent {
    background-color : rgb(245,245,245);
}

#feedContent .newsItem {
    width: 100%
}

#feedContent .newsItem {
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 2px;
    background: #FFFFFF;
}

#feedContent header {
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 16px;
}

#feedContent footer{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: rgba(0,0,0,.06);
}


#feedContent .user .layout-column {
    min-height: initial;
}

#feedContent .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

#feedContent .title {
    font-weight: 500;
}

#feedContent .username {
    text-align: left;
    margin-right: 4px;
}

#feedContent .time {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
}

#feedContent .status {
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

#feedContent .news-feed-icon {
    font-size: 16px;
}

#feedContent .news-feed-button-text {
    font-size: 11px;
    font-weight: 400;
    padding-left: 6px;
}

#feedContent textarea {
    font-size: 13px;
    width: 100%;
    height: 40px;
    border: none;
    padding: 11px;
    resize: vertical;
}

#feedContent .add-post {
    width: 100%
}

#feedContent .post-button {
    background-color: #3F51B5;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 12px;
}

#feedContent .comments {
    font-size: 13px;
    padding-bottom: 15px;
}

#feedContent .commentText {
    margin: 0px;
}

#feedContent .poster-name {
    padding-right: 5px;
    font-weight: bold;
    color: #3F51B5;
    cursor: pointer;
}

#feedContent .hide-comments {
    margin: 0px;
    font-size: 13px;
    padding-bottom: 10px;
    color: #3F51B5;
    cursor: pointer;
}

#friendsList {
    background-color : rgb(245,245,245);
    width: 100%;
}

#friendsList .friends-header {
    margin: 0px;
    padding-left: 16px;
    background-color: #3F51B5;
}

#friendsList .friends-text {
    color: white;
}

#friendsList .friends-count {
    color: white;
    padding-right: 16px;
}

#friendsList .list-text {
    padding-left: 16px;
}

#friendsList .list-separator {
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,.12);
}

#friendsList .md-list-item-text {
    width: 100%;
}

#friendsList md-list {
    padding: 0px;
    height: 350px;
}
#header #layout-horizontal-navigation {
    height: 100%;
    max-height: 100%;
}

#header #content-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header #toolbar {
    height: 64px;
    min-height: 64px;
    max-height: 64px;
    z-index: 55!important;
}

#header .layout-row {
    webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


#header .toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0,0,0,.12);
}

#header #user-menu, #optionsRow, #content-container {
    width: 100%;
}

#header #options {
    float: right;
}

#header .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

#header #down {
    padding-left: 5px;
    padding-right: 0px;
    width: 20px !important;
    padding-top: 17px;
    line-height: 0px !important;
}

#header #optionsButton {
    height: 64px;
    padding-top: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header #ms-search-bar-expander, #ms-search-bar-clear {
    cursor: pointer;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    width: 64px!important;
    height: 64px!important;
    line-height: 64px!important;
    border-right: medium;
}

#header #search-bar, md-autocomplete {
    height: 64px;
    background-color: white;
}

#header md-autocomplete-wrap {
    background-color: white;
    height: 64px;
}

#header input {
    font-size: 22px;
    height: 64px;
}

.md-open-menu-container {
    top: 64px;
    transform-origin: left top 0px;
    position: fixed;
    z-index: 100;
}

#menu-divider {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
}

#header .firstname {
    padding-right: 8px;
}

#header .home-icon {
    cursor: pointer;
}

#header .layout-align-start-center {
    width: 100%;
}

#header .icon {
    margin: 0px;
    padding: 0px;
    min-width: 0px;
}

#header md-autocomplete button {
    width: 0px;
    margin: 0px;
}

#header md-autocomplete svg {
    width: 0px;
}

#header .searchResult {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#logo {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

#logo .logo-image {
    display: block;
    background: #3F51B5;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    border-radius: 2px;
}
.edit-pictures {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 13px 19px 2px rgba(0, 0, 0, 0.14),
    0 5px 24px 4px rgba(0, 0, 0, 0.12);
    z-index: 150;
    width: 40%;
    position: fixed;
}

.edit-pictures .buttons {
    width: 100%;
}

.edit-pictures .profile-picture {
    width: 100%;
    padding-top: 4px;
}

.edit-pictures .upload-button {
    height: 48px;
    margin-top: 8px;
}

.edit-pictures .upload-container {
    margin-top: 16px;
    margin-bottom: 0px;
}
#chat {
    background-color : rgb(245,245,245);
    width: 100%;
}

#chat .available-users-header {
    margin: 0px;
    padding-left: 16px;
    background-color: #3F51B5;
}

#chat .chat-header-text {
    color: white;
}

#chat .list-text {
    padding-left: 16px;
}

#chat .list-separator {
    height: 1px;
    width: 100%;
    background: rgba(0,0,0,.12);
}

#chat .md-list-item-text {
    width: 100%;
}

#chat md-list {
    padding: 0px;
    height: 100vh;
}

#chat .no-click-list {
    pointer-events: none;
    background-color: #D7D4D4;
}
.chat-window {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 13px 19px 2px rgba(0, 0, 0, 0.14),
    0 5px 24px 4px rgba(0, 0, 0, 0.12);
    z-index: 150;
    width: 260px;
    height: 330px;
    position: fixed;
}

.chat-window .buttons {
    width: 100%;
}

.chat-window .profile-picture {
    width: 100%;
    padding-top: 4px;
}

.chat-window .upload-button {
    height: 48px;
    margin-top: 8px;
}

.chat-window .upload-container {
    margin-top: 16px;
    margin-bottom: 0px;
}

.chat-window md-toolbar {
    min-height: 32px;
    height: 32px;
}

.chat-window .username-text {
    font-size: 16px;
}

.chat-window .md-toolbar-tools {
    padding-right: 5px;
    padding-left: 10px;
}

.chat-window .close {
    cursor: pointer;
}

.chat-window .chat-text{
    height: 270px;
    width: 260px;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: rgba(0,0,0,.06);
    padding-bottom: 12px;
}

.chat-window .input {
    width: 100%;
    height: 28px;
    bottom: 0px;
    position: absolute;
}

.chat-window textarea {
    width: 100%;
    font-size: 12px;
}

.chat-window .current-user{
    font-size: 12px;
    padding-top: 12px;
    padding-right: 6px;
    width: auto;
    margin-left: 30%;
    text-align: right;
}

.chat-window .friend {
    font-size: 12px;
    padding-top: 12px;
    padding-left: 6px;
    width: auto;
    margin-right: 30%;
    text-align: left;
}

.chat-window .current-user-message {
    display: inline-block;
    background-color: #90B8DA;
    padding: 3px;
    word-break: break-word;
    border-radius: 8px;
}

.chat-window .friend-message {
    display: inline-block;
    background-color: white;
    padding: 3px;
    word-break: break-word;
    border-radius: 8px;
}