#view {
    height: 100%;
}

html {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.4;
    letter-spacing: -0.1px;
}
#createAccountsPage {
    background-color : #e9eaed;
}

#createAccountsPage #loginButton {
    width: 100%;
}

#createAccountsPage .loginBox {
    max-width:  90%;
    width: 500px
}

#createAccountsPage .stretch input  {
    width: 100%
}

#createAccountsPage .submit-btn {
    padding-top: 20px;
}
#header #layout-horizontal-navigation {
    height: 100%;
    max-height: 100%;
}

#header #content-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header #toolbar {
    height: 64px;
    min-height: 64px;
    max-height: 64px;
    z-index: 55!important;
}

#header .layout-row {
    webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#loginPage {
   background-color : #e9eaed;
}

#loginPage #loginButton {
    width: 100%;
}

#loginPage .loginBox {
    max-width:  90%;
    width: 500px
}

#loginPage .stretch input  {
    width: 100%
}

#loginPage .submit-btn {
    padding-top: 20px;
}
#newsFeed {
    background-color : #e9eaed;
}

#newsFeed .newsItem {
    max-width:  90%;
    width: 500px
}

#newsFeed .newsItem {
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 2px;
    background: #FFFFFF;
}

#newsFeed header {
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 16px;
}

#newsFeed .user .layout-column {
    min-height: initial;
}

#newsFeed .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

#newsFeed .title {
    font-weight: 500;
}

#newsFeed .username {
    text-align: left;
    margin-right: 4px;
}

#newsFeed .time {
    color: rgba(0, 0, 0, 0.54);
}

#newsFeed .status {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}



#searchBar .ms-search-bar {
    height: 64px;
    font-size: 13px;
}

#searchBar layout {
    min-height: initial;
}

#searchBar #ms-search-bar-expander, #ms-search-bar-clear {
    cursor: pointer;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    width: 64px!important;
    height: 64px!important;
    line-height: 64px!important;
    border-right: medium;
}
