#view {
    height: 100%;
}

html {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    line-height: 1.4;
    letter-spacing: -0.1px;
}
#createAccountsPage {
    background-color : #e9eaed;
}

#createAccountsPage #loginButton {
    width: 100%;
}

#createAccountsPage .loginBox {
    max-width:  90%;
    width: 500px
}

#createAccountsPage .stretch input  {
    width: 100%
}

#createAccountsPage .submit-btn {
    padding-top: 20px;
}

#createAccountsPage #lastName {
    float: right;
}
#loginPage {
   background-color : #e9eaed;
}

#loginPage #loginButton {
    width: 100%;
}

#loginPage .loginBox {
    max-width:  90%;
    width: 500px
}

#loginPage .stretch input  {
    width: 100%
}

#loginPage .submit-btn {
    padding-top: 20px;
}
#newsFeed {
    background-color : rgb(245,245,245);
}
#newsFeed .newsFeed {
    overflow: hidden;
    padding:8px;
    margin-left: 25%;
    margin-right: 25%;
}

* {
    box-sizing: border-box;
}
#profile {
    background-color : rgb(245,245,245);
}
#profile .profile-news {
    overflow: hidden;
    padding:8px;
    margin-left: 5%;
    margin-right: 35%;
}

* {
    box-sizing: border-box;
}

#profile .background {
    height: 320px;
    background-image: url("./background.jpg");
    background-size: auto;
    padding: 24px;
    position: relative;
}

#profile .user-info {
    margin-left: 5%;
    position: absolute;
    bottom: 24px;
}

#profile .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

#profile .avatar.huge {
    width: 96px;
    min-width: 96px;
    height: 96px;
    line-height: 96px;
}

#profile .name {
    padding-left: 16px;
    padding-top: 30px;
    font-size: 34px;
    color: #FFF;
}

#profile .add-friend-button {
    background-color: #3F51B5;
    color: #FFFFFF;
}

#profile .connect-column {
    float: right;
    padding-right: 150px;
}

#profile .connect {
    position: absolute;
    bottom: 24px;
}

#profile md-tabs-canvas {
    margin-left: 5%;
    margin-right: 35%;
}

#profile .timeline {
    background-color: rgb(245,245,245);
}

#profile md-ink-bar {
    background-color: #3F51B5;
}
#createStatus {
    margin-top: 32px;
    margin-bottom: 32px;
}
#createStatus .profile-box {
    margin-bottom: 0px;
    width: 100%;
}

#createStatus textarea {
    font-size: 13px;
    width: 100%;
    height: 140px;
    border: none;
    padding: 16px;
    resize: vertical;
}

#createStatus #post-button {
    background-color: #3F51B5;
    color: #FFFFFF;
}

#createStatus footer {
    background-color: #FFFFFF;
    border-top: 1px solid;
    border-top-color: #e9eaed;
}

.news-feed-button-text-right {
    padding-left: 0px;
    font-size: 11px;
    font-weight: 400;
}
#feedContent {
    background-color : rgb(245,245,245);
}

#feedContent .newsItem {
    width: 100%
}

#feedContent .newsItem {
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 2px;
    background: #FFFFFF;
}

#feedContent header {
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 16px;
}

#feedContent footer{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    background-color: rgba(0,0,0,.06);
}


#feedContent .user .layout-column {
    min-height: initial;
}

#feedContent .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

#feedContent .title {
    font-weight: 500;
}

#feedContent .username {
    text-align: left;
    margin-right: 4px;
}

#feedContent .time {
    color: rgba(0, 0, 0, 0.54);
}

#feedContent .status {
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

#feedContent .news-feed-icon {
    font-size: 16px;
}

#feedContent .news-feed-button-text {
    font-size: 11px;
    font-weight: 400;
    padding-left: 6px;
}

#feedContent textarea {
    font-size: 13px;
    width: 100%;
    height: 40px;
    border: none;
    padding: 11px;
    resize: vertical;
}

#feedContent .add-post {
    width: 100%
}

#feedContent .post-button {
    background-color: #3F51B5;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 0px;
}

#feedContent .comments {
    font-size: 13px;
    padding-bottom: 15px;
}

#feedContent .commentText {
    margin: 0px;
}

#feedContent .poster-name {
    padding-right: 5px;
    font-weight: bold;
    color: #3F51B5;
    cursor: pointer;
}

#feedContent .hide-comments {
    margin: 0px;
    font-size: 13px;
    padding-bottom: 10px;
    color: #3F51B5;
    cursor: pointer;
}

#logo {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

#logo .logo-image {
    display: block;
    background: #3F51B5;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    border-radius: 2px;
}
#header #layout-horizontal-navigation {
    height: 100%;
    max-height: 100%;
}

#header #content-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header #toolbar {
    height: 64px;
    min-height: 64px;
    max-height: 64px;
    z-index: 55!important;
}

#header .layout-row {
    webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


#header .toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(0,0,0,.12);
}

#header #user-menu, #optionsRow, #content-container {
    width: 100%;
}

#header #options {
    float: right;
}

#header .avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

#header #down {
    padding-left: 5px;
    padding-right: 0px;
    width: 20px !important;
    padding-top: 17px;
    line-height: 0px !important;
}

#header #optionsButton {
    height: 64px;
    padding-top: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#header #ms-search-bar-expander, #ms-search-bar-clear {
    cursor: pointer;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    width: 64px!important;
    height: 64px!important;
    line-height: 64px!important;
    border-right: medium;
}

#header #search-bar, md-autocomplete {
    height: 64px;
    background-color: white;
}

#header md-autocomplete-wrap {
    background-color: white;
    height: 64px;
}

#header input {
    font-size: 22px;
    height: 64px;
}

.md-open-menu-container {
    top: 64px;
    transform-origin: left top 0px;
    position: fixed;
    z-index: 100;
}

#menu-divider {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
}

#header .firstname {
    padding-right: 8px;
}

#header .home-icon {
    cursor: pointer;
}

#header .layout-align-start-center {
    width: 100%;
}

#header .icon {
    margin: 0px;
    padding: 0px;
    min-width: 0px;
}

#header md-autocomplete button {
    width: 0px;
    margin: 0px;
}

#header md-autocomplete svg {
    width: 0px;
}

#header .searchResult {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
