<div id="edit-pictures" role="dialog" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Profile</h2>
        </div>
    </md-toolbar>
    <md-content class="profile-picture" layout="row">
        <md-button class="upload-button md-primary" ngf-select="upload($file)">Upload</md-button>
        <md-input-container class="upload-container">
            <label for="profile-picture">Profile photo</label>
            <input id="profile-picture" label="Upload Images" name="vm.profilePhoto" ngf-select="vm.save($file)" ng-model="vm.profilePhoto" accept="image/*" ngf-max-size="5MB">
        </md-input-container>
    </md-content>
    <md-content class="profile-picture" layout="row">
        <md-button class="upload-button md-primary" ngf-select="upload($file)">Upload</md-button>
        <md-input-container class="upload-container">
            <label for="cover-picture">Cover photo</label>
            <input id="cover-picture" label="Upload Images" name="picture" ngf-select="vm.save($file)" ng-model="vm.coverPhoto" accept="image/*" ngf-max-size="5MB">
        </md-input-container>
    </md-content>
    <div layout="row" class="buttons">
        <span flex></span>
        <md-button class="md-primary" ng-click="vm.save()">Save</md-button>
        <md-button class="md-primary" ng-click="vm.cancel()">Cancel</md-button>
    </div>
</div>