<div id="profile">
    <div ng-include src="vm.header"></div>
    <div class="background">
        <img class="background background-image" ng-src="data:image/jpg;base64,{{pictureData.pictures.coverPhoto}}">
        <div layout="column">
            <div class="user-info"  layout="row">
                <img class="avatar huge" ng-src="data:image/jpg;base64,{{pictureData.pictures.profilePhoto}}">
                <div class="name">
                    <span class="firstname">{{vm.userInfo.firstName}}</span>
                    <span class="lastname">{{vm.userInfo.lastName}}</span>
                </div>
            </div>
        </div>
        <div class="connect-column" layout="column">
            <div class="connect" layout="row" ng-if="!vm.isMyProfile">
                <md-button class="add-friend-button" ng-click="vm.addFriend()" ng-if="!vm.isFriend">Add Friend</md-button>
                <md-button class="add-friend-button" ng-click="vm.addFriend()" ng-if="vm.isFriend">Remove Friend</md-button>
            </div>
            <md-button class="edit-profile-button" layout="row" ng-if="vm.isMyProfile" ng-click="vm.showPanel($event)">
                <i class="icon s24 material-icons md-default-theme edit-profile-icon">edit</i>
                 Edit Profile
            </md-button>
        </div>
    </div>
    <md-content>
        <md-tabs md-dynamic-height="">
            <md-tab>
                <md-tab-label>Timeline</md-tab-label>
                <md-tab-body>
                    <div class="timeline" layout="row">
                        <div class="profile-news" layout="column">
                            <div ng-include src="vm.createStatus" ng-if="vm.isMyProfile"></div>
                            <div ng-include src="vm.feedContent"></div>
                        </div>
                        <div class="friends-list" layout="column">
                            <div ng-include src="vm.friendsList"></div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>