#createAccountsPage {
    background-color : #e9eaed;
}

#createAccountsPage #loginButton {
    width: 100%;
}

#createAccountsPage .loginBox {
    max-width:  90%;
    width: 500px
}

#createAccountsPage .stretch input  {
    width: 100%
}

#createAccountsPage .submit-btn {
    padding-top: 20px;
}

#createAccountsPage #lastName {
    float: right;
}

#createAccountsPage .error {
    color: red;
    font-size: 12px;
}