<div ng-controller="feedCtrl as vm"  layout="column" layout-align="center center" layout-fill="layout-fill" id="feedContent">
    <div class="newsItem md-whiteframe-1dp" ng-repeat="newsItem in vm.news track by $index">
        <header layout="row" layout-align="space-between start" class="layout-align-space-between-start layout-row">
            <div class="user layout-align-start-center layout-row" layout="row" layout-align="start center">
                <img class="avatar" ng-src="./avatar.jpg">
                <div layout="column" class="layout-column">
                    <div class="title" layout="row">
                        <span class=" username md-accent-color">{{newsItem.firstName}}</span>
                        <span class=" username md-accent-color">{{newsItem.lastName}}</span>
                    </div>
                    <div class="time">{{vm.formatStatusTime(newsItem.dateTime)}}</div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="status">{{newsItem.status}}</div>
        </div>
        <div layout="row" layout-align="start center">
            <md-button ng-click="vm.likeStatus(newsItem._id, $index)">
                <div layout="row" layout-align="start center">
                    <i class="icon s18 material-icons md-default-theme news-feed-icon">thumb_up</i>
                    <span class="news-feed-button-text">Like(</span>
                    <span class="news-feed-button-text-right">{{vm.countLikes($index)}}</span>
                    <span class="news-feed-button-text-right">)</span>
                </div>
            </md-button>
            <md-button>
                <div layout="row" layout-align="start center">
                    <i class="icon s18 material-icons md-default-theme news-feed-icon">insert_comment</i>
                    <span class="news-feed-button-text">Comment(1)</span>
                </div>
            </md-button>
        </div>
        <footer layout="column">
            <div layout="row" class="comment">
                <img class="avatar" ng-src="./avatar.jpg">
                <div layout="column" class="add-post">
                    <div class="add-post md-whitefram-1dp">
                        <div class="form flex">
                            <textarea placeholder="Add a comment.." ng-model="vm.comment"></textarea>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button class="post-button" ng-click="vm.commentOnStatus(newsItem._id, vm.comment, $index)">Post Comment</md-button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>