<div ng-controller="feedCtrl as vm"  layout="column" layout-align="center center" layout-fill="layout-fill" id="feedContent">
    <div class="newsItem md-whiteframe-1dp" ng-repeat="newsItem in statuses.statuses track by $index">
        <header layout="row" layout-align="space-between start" class="layout-align-space-between-start layout-row">
            <div class="user layout-align-start-center layout-row" layout="row" layout-align="start center">
                <img class="avatar" ng-src="data:image/jpg;base64,{{vm.profilePictures[newsItem.userId].profilePhoto}}">
                <div layout="column" class="layout-column">
                    <div class="title" layout="row">
                        <span class="poster-name" ng-click="vm.goToProfile(newsItem.userInfo)">{{newsItem.userInfo.firstName + ' ' + newsItem.userInfo.lastName}}</span>
                    </div>
                    <div class="time">{{vm.formatStatusTime(newsItem.dateTime)}}</div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="status">{{newsItem.status}}</div>
        </div>
        <div layout="row" layout-align="start center">
            <md-button ng-click="vm.likeStatus(newsItem.statusId, $index)">
                <div layout="row" layout-align="start center">
                    <i class="icon s18 material-icons md-default-theme news-feed-icon">thumb_up</i>
                    <span class="news-feed-button-text">{{'Like(' + vm.countLikes($index) + ')'}}</span>
                </div>
            </md-button>
            <md-button>
                <div layout="row" layout-align="start center">
                    <i class="icon s18 material-icons md-default-theme news-feed-icon">insert_comment</i>
                    <span class="news-feed-button-text">{{'Comment(' + vm.countComments($index) + ')'}}</span>
                </div>
            </md-button>
        </div>
        <footer layout="column">
            <a class="hide-comments" ng-hide="vm.hideHideCommentsButton($index)" ng-click="vm.toggleComments($index)">{{'Hide ' + vm.numberOfCommentsToShow($index) + ' comments'}}</a>
            <a class="hide-comments" ng-hide="vm.hideCommentsButton($index)" ng-click="vm.toggleComments($index)">{{'View ' + vm.numberOfCommentsToShow($index) + ' more comments'}}</a>
            <div layout-align="start-center" ng-repeat="comment in newsItem.comments">
                <div class="comments" layout="row" ng-hide="comment.hideComment">
                    <img class="avatar" ng-src="data:image/jpg;base64,{{vm.profilePictures[comment.userId].profilePhoto}}">
                    <div layout="column">
                        <div layout="row">
                            <div class="poster-name" ng-click="vm.goToProfile(comment.userInfo)">{{comment.userInfo.firstName + ' ' + comment.userInfo.lastName}}</div>
                            <div class="time">{{vm.formatStatusTime(comment.dateTime)}}</div>
                        </div>
                        <p class="commentText">{{comment.text}}</p>
                    </div>
                </div>
            </div>
            <div layout="row" class="comment">
                <img class="avatar" ng-src="./avatar.jpg">
                <div layout="column" class="add-post">
                    <div class="add-post md-whitefram-1dp">
                        <div class="form flex">
                            <textarea placeholder="Add a comment.." ng-model="statuses.commentBoxArray[$index]"></textarea>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button class="post-button" ng-click="vm.commentOnStatus(newsItem.statusId, $index)">Post Comment</md-button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>