#createStatus {
    margin-top: 32px;
    margin-bottom: 32px;
}
#createStatus .profile-box {
    margin-bottom: 0px;
    width: 100%;
}

#createStatus textarea {
    font-size: 13px;
    width: 100%;
    height: 140px;
    border: none;
    padding: 16px;
    resize: vertical;
}

#createStatus #post-button {
    background-color: #3F51B5;
    color: #FFFFFF;
}

#createStatus footer {
    background-color: #FFFFFF;
    border-top: 1px solid;
    border-top-color: #e9eaed;
}

.news-feed-button-text-right {
    padding-left: 0px;
    font-size: 11px;
    font-weight: 400;
}