#newsFeed {
    background-color : rgb(245,245,245);
}
#newsFeed .newsFeed {
    overflow: hidden;
    padding:8px;
    margin-left: 25%;
    margin-right: 25%;
}

#newsFeed .chat {
    position: fixed;
    right: 0;
    top: 64px;
    width: 14em;
}

* {
    box-sizing: border-box;
}