<div role="dialog" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="username-text">{{vm.getName()}}</span>
            <span flex></span>
            <i class="icon s24 material-icons md-default-theme close" ng-click="vm.close()">close</i>
        </div>
    </md-toolbar>
    <md-content class="chat-text" scroll="vm.messages">
        <div ng-class="vm.isCurrentUser(message)?'current-user':'friend'" ng-repeat="message in vm.messages track by message._id">
            <div ng-class="vm.isCurrentUser(message)?'current-user-message':'friend-message'">{{message.message}}</div>
        </div>
    </md-content>
    <div class="form flex input">
        <textarea placeholder="Type a message.." ng-enter="vm.sendMessage(vm.messageText)" ng-model="vm.messageText"></textarea>
    </div>
</div>